.tweet {
  margin-top:2em;
  margin-right: 2em;
  margin-left: 2em;
  border-radius: 10px;
  border: solid;
  border-color: #c1c1c8;
}


header {
  background-color: lightgrey;
  height: 80px;
  opacity: 0.5;
}

.hover{
  opacity: 1;
}
header img {
  width : 60px;
  height: 60px;
  border-radius: 10px;
  float: left;
  margin: 10px;
  display: flex;
}

footer {
  border-top:solid;
  border-color: lightgray;
  border-width:2px;
}
.username {
  font-weight: bold;
  padding-top: 20px;
  font-size: 175%;
}

article .tweettext{
  margin: 15px;

}

footer .time {
  font-size: 80%;
  padding: 6px;
  margin-left:0;
  margin-right:0;
  width: 100px

}


.tag {
  float: right;
}


.icons{
  margin-left:auto;
  margin-right:0;
  color:white;
}

.appear {
  color:#00B7BE;
}
